<form>
  <div class="mb-3 row d-flex justify-content-end">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-complete-search" type="text" [formControl]="searchControl" class="form-control bg-dark text-white rounded-0" [disabled]="disabled"  />
    </div>
  </div>

  <table class="table table-hover table-dark rounded-0 mb-2 ">
    <colgroup>
      <col style=" width: auto;">
      <col style="width: 50px;">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class='text-center' *ngIf="!itemsFiltered?.length; else rows">
        <td colspan='2'>No hay registros</td>
      </tr>
      <ng-template #rows>
        <tr *ngFor="let item of itemsFiltered ">
          <td>
            {{item.title}}
          </td>
          <td class="overflow-hidden">
            <div ngbDropdown container="body">
              <button type="button" class="btn btn-primary btn-sm" ngbDropdownToggle [disabled]="disabled">Opciones</button>
              <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="view(item)">Ver</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="update(item)">Editar</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="delete(item.rowIndex)">Eliminar</button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>

    </tbody>
  </table>

  <div class="d-flex justify-content-end ">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="itemsFiltered.length" [disabled]="disabled"></ngb-pagination>
  </div>
</form>
