<form>
  <div class="mb-3 row">
    <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-complete-search" type="text" class="form-control" name="searchTerm" />
    </div>
  </div>

  <table class="table table-hover table-dark rounded-0 mb-2 ">
    <colgroup>
      <col style=" width: auto;">
      <col style="width: 50px;">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of items ">
        <td>
          {{item.title}}
        </td>
        <td class="overflow-hidden">
          <div ngbDropdown container="body">
            <button type="button" class="btn btn-primary btn-sm" ngbDropdownToggle>Opciones</button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>Editar</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem>Eliminar</button>
            </div>
          </div>
        </td>
    </tbody>
  </table>

  <div class="d-flex justify-content-between ">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="items.length"></ngb-pagination>
  </div>
</form>
