<form class="container" [formGroup]="form" (ngSubmit)="generate()" class="bg-dark">
  <div class="modal-header">
    <h4 class="modal-title">Generar Contraseña</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <button (click)="copy()"  id="btnCopy" type="button">
      <div class="card card-body bg-dark border-light text-center">
        <h3>{{password}}</h3>
        <span >click para copiar</span>
      </div>
    </button>
    <div class="length range__slider" data-min="4" data-max="32">
      <h4>Longitud: {{form.get('length')?.value}}</h4>
      <div class="row text-center">
        <div class="col-md-2">
          <span >8</span>
        </div>
        <div class="col-md-8">
          <input id="slider" type="range" min="8" max="128" formControlName="length" class="form-range " />
        </div>
        <div class="col-md-2">
          <span >128</span>
        </div>
      </div>
    </div>

    <div class="settings">
      <h2>Configuracion</h2>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="uppercase" formControlName="uppercase">
        <label class="form-check-label" for="uppercase">Incluir Mayusculas (A-Z)</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="lowercase" formControlName="lowercase">
        <label class="form-check-label" for="lowercase">Incluir Minusculas (a-z)</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="numbers" formControlName="numbers">
        <label class="form-check-label" for="numbers">Incluir Numeros (0-9)</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="symbols"  formControlName="symbols">
        <label class="form-check-label" for="symbols">Incluir Simbolos (!@#$%^&*)</label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" id="generate" type="submit">Generar Contraseña</button>
  </div>
</form>
